asgiref==3.9.1
crispy-bootstrap5==2025.6
Django==5.2.5
django-crispy-forms==2.4
django-filter==25.1
django-tables2==2.7.5
django-widget-tweaks==1.5.0
pillow==11.3.0
python-barcode==0.15.1
setuptools==80.9.0
sqlparse==0.5.3
wheel==0.45.1
whitenoise==6.9.0
openpyxl==3.1.5
holidays==0.79