<!-- core/templates/core/includes/sidebar.html -->
<div class="bg-dark text-white p-3" style="min-width: 200px;">
    <h5 class="text-white">Menu</h5>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a href="/dashboard/" class="nav-link text-white">
                <i class="bi bi-house"></i> Dashboard
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="orderMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-file-earmark-text"></i> Orders
            </a>
            <ul class="dropdown-menu" aria-labelledby="orderMenu">
                <li><a class="dropdown-item" href="{% url 'orders:order_list' %}">Order List</a></li>
                <li><a class="dropdown-item" href="{% url 'orders:order_create' %}">Create Order</a></li>
                <li><a class="dropdown-item" href="{% url 'orders:order_detail_list' %}">Order Detail List<a/></li>
            </ul>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="customerMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-people"></i>Customers
            </a>
            <ul class="dropdown-menu" aria-labelledby="customerMenu">
                <li><a class="dropdown-item" href="{% url 'customers:customer_list' %}">Customer List</a></li>
                <li><a class="dropdown-item" href="{% url 'customers:customer_detail_list' %}">Customer Detail List</a></li>
                <li><a class="dropdown-item" href="{% url 'customers:customer_create' %}">Create Customer</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-link dropdown-toggle" href="#" id="customerMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-people"></i> production
            </a>
            <ul class="dropdown-menu" aria-labelledby="productionMenu">
                <li><a class="dropdown-item" href="{#">Production List</a></li>
                <li><a class="dropdown-item" href="#">Create Production</a></li>
                <li><a class="dropdown-item" href="#">Production Detail List</a></li>
            </ul>

        </li>
        <a href="/products/" class="nav-link text-white">
            <i class="bi bi-box"></i> Products
        </a>
        <li class="nav-item">
            <a href="/create-user/" class="nav-link text-white">
                <i class="bi bi-person-plus"></i> Create User
            </a>
        </li>
        <li class="nav-item">
            <a href="/inventory/" class="nav-link text-white">
                <i class="bi bi-box-seam"></i> Inventory
            </a>
        </li>
        

    </ul>
</div>
