<!-- core/templates/core/includes/sidebar.html -->
<div class="bg-dark text-white p-3" style="min-width: 250px;">
    <h5 class="text-white">Menu</h5>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a href="/dashboard/" class="nav-link text-white">
                <i class="bi bi-house"></i> Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a href="/orders/" class="nav-link text-white">
                <i class="bi bi-file-earmark-text"></i> Orders
            </a>
        </li>
        <li class="nav-item">
            <a href="/customers/" class="nav-link text-white">
                <i class="bi bi-people"></i> Customers
            </a>
        </li>
        <li class="nav-item">
            <a href="/create-user/" class="nav-link text-white">
                <i class="bi bi-person-plus"></i> Create User
            </a>
        </li>
        <li class="nav-item">
            <a href="/inventory/" class="nav-link text-white">
                <i class="bi bi-box-seam"></i> Inventory
            </a>
        </li>
        

    </ul>
</div>
